<a href="https://colab.research.google.com/github/DrDAN6770/DataSciense-with-Python/blob/main/%E8%B3%87%E6%96%99%E7%A7%91%E5%AD%B8%E5%B7%A5%E5%85%B7%E7%AE%B1/%E6%95%99%E7%B7%B4%E5%B8%B6%E8%B7%91/Task%2007/Task_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 作業1

1. 請問「質化資料 (qualitative data) 」與「量化資料 (quantitative data) 」差別是什麼？

Qualitative data 是可以按照屬性被分類的資料，無法數字化表現的資料，政黨意見、意見調查、圖像分析

Quantitaive data是可以量化的資料、有尺度地被呈現，身高體重溫度

2. 描述統計中有三組指標「最大值、最小值和總和」、「眾數、均值和中位數」和「變異數、標準差、斜方差和分位數」 ，請問這三組分別可以看出資料的哪些趨勢？

第一組可以看出範圍

第二組可以看出集中趨勢

第三組可以看到離散趨勢

3. 相關係數分析能夠看出兩組資料間的關係，請問什麼叫做「正相關」、「無相關」與「負相關」？

正相關代表兩組資料呈現同方向的差異趨勢

負相關則相反

無相關則代表兩者無關係，無明顯的趨勢

4. 在統計中有一句話叫做「Correlation is not causation.」，這句話的想表達的含義是什麼呢？

相關性不是因果關係，兩者相關不代表因果；有因果也不代表一定相關，需要更多資料以及時間來確認，這是統計學中常討論到的議題，謹慎行事

5. 模型的誤差可以分為「Bias」和「Variance」，請解釋這兩者分別代表什麼誤差？

Bias是模型的預期值與實驗值的差異，誤差

Variance是模型在不同來源資料時在結果的差異，應用的廣泛程度

# 作業2

---
練習：請將給定的原始資料計算出「每一個 Team」對應「每一個 Year」出現的次數：

![image.png]()

In [ ]:
import numpy as np
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
    'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
    'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
    'Points':[876,789,863,673,741,812,756,788,694,701,804,690]
}
df = pd.DataFrame(ipl_data)

pivot = pd.pivot_table(df,
            index = 'Year',
            columns = 'Team',
            aggfunc = {'Team':'count'})
pivot

       Team
Team Devils Kings Riders Royals kings
Year
2014    1.0   1.0    1.0    1.0   NaN
2015    1.0   NaN    1.0    1.0   1.0
2016    NaN   1.0    1.0    NaN   NaN
2017    NaN   1.0    1.0    NaN   NaN

# 作業3

---

1. 練習：將 `winequality-both` 資料的後 10 筆資料當成「測試資料」、其餘資料作為「訓練資料」
2. 想要利用除了 type、quality 之外的欄位（X） 對 quality 欄位（y） 進行迴歸分析。請試著完成以下的程式碼
3. 並且解釋 A、B、C 三行程式碼分別在做什麼。

In [ ]:
import pandas as pd
import statsmodels.api as sm

source = 'https://raw.githubusercontent.com/cbrownley/foundations-for-analytics-with-python/master/statistics/winequality-both.csv'
df = pd.read_csv(source)
df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,white,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,white,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,white,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,white,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,white,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [ ]:
# 取後10
test = df.tail(10)
# 因變數y
testy = test['quality']
# 自變數x, 將type、quality以外的欄位都作為自變數，並加上一個常數項
testX = sm.add_constant(test[test.columns.difference(['type','quality'])])

# 取後10以外
train = df.iloc[:-10,:] # or head(-10)
y = train['quality']
X = sm.add_constant(train[train.columns.difference(['type','quality'])])

model = sm.OLS(y,X).fit() # A : 建立迴歸模型

print(model.summary()) # B : 摘要
print(model.predict(testX)) # C : 用測試資料來預測模型與實際y值的差異

                            OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.292
Model:                            OLS   Adj. R-squared:                  0.291
Method:                 Least Squares   F-statistic:                     242.8
Date:                Thu, 04 May 2023   Prob (F-statistic):               0.00
Time:                        20:14:40   Log-Likelihood:                -7207.6
No. Observations:                6487   AIC:                         1.444e+04
Df Residuals:                    6475   BIC:                         1.452e+04
Df Model:                          11
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   56.0051     11.902      4.706      0.000      32.674      79.337
alcohol                  0.2665      0.017     15.920      0.000       0.234       0.299
chlorides               -0.4858      0.333     -1.459      0.145      -1.138       0.167
citric acid             -0.1078      0.080     -1.353      0.176      -0.264       0.048
density                -55.2145     12.146     -4.546      0.000     -79.024     -31.405
fixed acidity            0.0680      0.016      4.359      0.000       0.037       0.099
free sulfur dioxide      0.0060      0.001      7.962      0.000       0.005       0.007
pH                       0.4411      0.090      4.875      0.000       0.264       0.619
residual sugar           0.0436      0.005      8.451      0.000       0.033       0.054
sulphates                0.7690      0.076     10.095      0.000       0.620       0.918
total sulfur dioxide    -0.0025      0.000     -8.972      0.000      -0.003      -0.002
volatile acidity        -1.3270      0.077    -17.139      0.000      -1.479      -1.175
==============================================================================
Omnibus:                      143.514   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              323.066
Skew:                          -0.006   Prob(JB):                     7.03e-71
Kurtosis:                       4.093   Cond. No.                     2.49e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
6487    5.439116
6488    5.688767
6489    6.121787
6490    5.931745
6491    5.661985
6492    6.169059
6493    5.608899
6494    5.419422
6495    6.432345
6496    6.205833
dtype: float64

In [ ]:
# !pip install scikit-learn

from sklearn.metrics import mean_absolute_error, mean_squared_error

# 將預測結果和實際 y 值合併成一個 DataFrame
df1 = pd.concat([testy,model.predict(testX)], axis=1)
df1.columns = ['quality', 'y_pred']

# 計算 MSE 和 MAE
mse = mean_squared_error(df1['quality'], df1['y_pred'])
mae = mean_absolute_error(df1['quality'], df1['y_pred'])

# 將 MSE 和 MAE 轉換為準確度
accuracy_mse = 100 - mse
accuracy_mae = 100 - mae

print(f"Accuracy (MSE): {accuracy_mse:.2f}%")
print(f"Accuracy (MAE): {accuracy_mae:.2f}%")

Accuracy (MSE): 99.82%
Accuracy (MAE): 99.63%

In [ ]:
df1

      quality    y_pred
6487        5  5.439116
6488        6  5.688767
6489        6  6.121787
6490        6  5.931745
6491        5  5.661985
6492        6  6.169059
6493        5  5.608899
6494        6  5.419422
6495        7  6.432345
6496        6  6.205833