<a href="https://colab.research.google.com/github/DrDAN6770/DataSciense-with-Python/blob/main/%E8%B3%87%E6%96%99%E7%A7%91%E5%AD%B8%E5%B7%A5%E5%85%B7%E7%AE%B1/%E6%95%99%E7%B7%B4%E5%B8%B6%E8%B7%91/Task%2002/Task_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#作業 01【實作題】資料選取

---


請從給定的 DataFrame 分別篩選出符合條件的資料：

1. filtered by first column > 20?

2. filtered by first column + second column > 50

3. filtered by first column < 30 or second column > 30

4. filtered by total sum of row > 100

In [ ]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   37  25  17  35
1   17  11  22  23
2   37  24  22  26
3   30  39  26  11
4   35  28  33  21
5   20  37  16  20
6   17  25  16  37
7   26  35  33  23
8   20  20  13  11
9   30  39  22  12
10  18  19  23  37
11  39  25  33  22
12  10  20  17  19
13  15  12  36  14
14  12  21  19  14

##1.filtered by first column > 20?

In [116]:
df[df.iloc[:,0]>20]

#or

df[df[0]>20]

     0   1   2   3
0   37  25  17  35
2   37  24  22  26
3   30  39  26  11
4   35  28  33  21
7   26  35  33  23
9   30  39  22  12
11  39  25  33  22

##2.filtered by first column + second column > 50

In [121]:
f2 = df.iloc[:,0] + df.iloc[:,1]
df[f2>50]

#or

f2 = df[0]+df[1]
df[f2>50]

     0   1   2   3
0   37  25  17  35
2   37  24  22  26
3   30  39  26  11
4   35  28  33  21
5   20  37  16  20
7   26  35  33  23
9   30  39  22  12
11  39  25  33  22

##3.filtered by first column < 30 or second column > 30

In [122]:
f3 = (df.iloc[:,0] < 30) | (df.iloc[:,1] > 30)
df[f3]

     0   1   2   3
1   17  11  22  23
3   30  39  26  11
5   20  37  16  20
6   17  25  16  37
7   26  35  33  23
8   20  20  13  11
9   30  39  22  12
10  18  19  23  37
12  10  20  17  19
13  15  12  36  14
14  12  21  19  14

##4.filtered by total sum of row > 100

In [123]:
f4 = df.sum(axis = 1) > 100
df[f4]

     0   1   2   3
0   37  25  17  35
2   37  24  22  26
3   30  39  26  11
4   35  28  33  21
7   26  35  33  23
9   30  39  22  12
11  39  25  33  22

#作業 02【實作題】資料匯總

---

請利用 Pandas 計算給定的資料中不同 weekday 的 visitor 總和為何？

In [126]:
d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]

df2 = pd.DataFrame(d)
df2

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [149]:
gpweekday = df2.groupby('weekday')['visitor'].sum()
# gpweekday
res = gpweekday.to_dict()
print(res)

{'Mon': 782, 'Sun': 376}

In [140]:
grouped = df2.groupby('weekday')
result = grouped.agg({'visitor':'sum'})
result.to_dict()['visitor']
# result

{'Mon': 782, 'Sun': 376}

#作業 03【實作題】檔案串接與資料存取

---
健保特約機構防疫家用快篩剩餘數量明細是因應疫情所釋出的開放資料，為了避免像之前那樣出現排隊搶購的情況，健保署規劃提供即時的庫存資訊給民眾參考，該資料包含醫事機構代碼、醫事機構名稱以及快篩試劑截至目前結餘存貨數量等。請嘗試用 Pandas 存取來自於檔案來源的資料，並且利用計算每個縣市的剩餘快篩總數並且排序剩餘數量前五高的資料。

In [ ]:
import pandas as pd

In [ ]:
h1 = 'https://data.nhi.gov.tw/resource/Nhi_Fst/Fstdata.csv'
df3 = pd.read_csv(h1)

In [173]:
res = df3.sort_values(by='快篩試劑截至目前結餘存貨數量', ascending=False).head()
res
# res 列出符合的每個colums
res.loc[:,['醫事機構地址','快篩試劑截至目前結餘存貨數量']]

# 縣市 vs count
res['縣市'] = res['醫事機構地址'].str[:3]
res.loc[:,['縣市','快篩試劑截至目前結餘存貨數量']]

       縣市  快篩試劑截至目前結餘存貨數量
230   臺北市            2146
2271  苗栗縣            1282
2300  苗栗縣            1122
2011  桃園市            1014
1293  臺南市             982